<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>279805557928-9gref1e1nclqotki1tl10maguvv6e41e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.279805557928-9gref1e1nclqotki1tl10maguvv6e41e</string>
	<key>API_KEY</key>
	<string>AIzaSyAWy6L1MuEN84bmBtueiIDuzWH18TlaWNs</string>
	<key>GCM_SENDER_ID</key>
	<string>279805557928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.diego.mendoza.SwiftUIFirebaseChat</string>
	<key>PROJECT_ID</key>
	<string>swiftuichat-test</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuichat-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279805557928:ios:2180fc5776ba314386969d</string>
</dict>
</plist>